.gallery-slider-container {
  margin-top: 6rem;
  .swiper-wrapper.gallery-slider {
    align-items: center;
    padding-bottom: 4rem;
  }
  .swiper-slide {
    padding: 0 1rem;
    position: relative;
    aspect-ratio: 1;
    transition: all 0.8s ease-out;
    img {
      transition: transform 1s ease-out;
      position: absolute;
      inset: 0;
      object-fit: cover;
      transform-origin: top left;
      max-width: 100%;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    h3 {
      position: absolute;
      bottom: 2vw;
      left: 2vw;
      color: white;
      font-size: 2rem;
      z-index: 2;
    }
    &::after {
      content: "";
      position: absolute;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.8) 100%
      );
      inset: 0;
    }
    &.swiper-slide-active {
      width: 100%;
      @include tablet {
        width: 60% !important;
        margin-right: 6%;
        margin-left: 4%;
      }
      img {
        transform: scale(1);
      }
    }
    &.swiper-slide-next {
      img {
        transform: scale(1.5);
      }
      @include tablet {
        aspect-ratio: 1/1.1;
        width: 40% !important;
      }
    }
  }
}
