html,
body {
  scroll-behavior: smooth;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 16px;
  @media screen and (min-width: 320px) {
    font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1960 - 320)));
  }

  @media screen and (min-width: 1400px) {
    font-size: 22px;
  }
}
section.xl {
  padding: 10rem 8rem;
}

section.feature {
  margin: 5rem 0;
  height: 50vh;
  overflow: hidden;
  .featured-parallax {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
  }
}
