html,
body {
  scroll-behavior: smooth;
  min-height: 100vh;
  overflow: auto;
  overflow-x: hidden;
}
#scroll-body {
}
html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1960 - 320)));
  }
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 22px;
  }
}
