html,
body {
  scroll-behavior: smooth;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 16px;
  @media screen and (min-width: 320px) {
    font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1960 - 320)));
  }

  @media screen and (min-width: 1400px) {
    font-size: 22px;
  }
}
section.xl {
  padding: 8rem 0;
}

section.feature {
  margin: 4rem 0;
  height: 50vh;
  overflow: hidden;
  .featured-parallax {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    object-position: center;
  }
}

.custom-cursor {
  pointer-events: none;
  width: 5rem;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: -2.5rem;
  margin-left: -2.5rem;
  z-index: 9999;
  opacity: 0;
  display: grid;
  place-items: center;
  svg {
    fill: darken($primary, 20%);
    position: relative;
    z-index: 1;
    width: 2.5rem;
    height: 2.5rem;
  }
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    transform: rotate(-45deg);
    // border: 2px solid rgba(white, 0.8);
    backdrop-filter: blur(6px);
    background-color: rgba(white, 0.4);
    border-radius: 50%;
    box-shadow: var(--shadow-small);
  }
}

.divider {
  display: block;
  margin: 2rem 0;
  width: 80%;
  height: 1px;
  background-color: $primary;
  @include desktop {
    width: 30%;
  }
}
