header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--header-padding);
  @include desktop {
    --menu-trigger-size: 4.5rem;
  }
  .burger {
    overflow: hidden;
    width: var(--menu-trigger-size);
    height: var(--menu-trigger-size);
    border: 1px solid transparent;
    background: $primary;
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    .bar {
      --menu-bar-width: 1.4rem;
      display: block;
      width: var(--menu-bar-width);
      height: 2px;
      border-radius: 2px;
      transition: all 0.25s ease-in-out;
      &:not(.double) {
        background: white;
      }
      > span {
        display: block;
        width: var(--menu-bar-width);
        height: 2px;
        border-radius: 2px;
        background: white;
        transition: all 0.25s ease-in-out;
        transform-origin: center;
        &:nth-child(1) {
          transform: translateY(0px);
        }
        &:nth-child(2) {
          transform: translateY(-2px);
        }
      }
    }
    &.open {
      background: transparent;
      border-color: white;
      .bar {
        &:nth-child(1) {
          transform: translateX(-50px);
          opacity: 0;
        }

        &:nth-child(2) {
          > span {
            &:nth-child(1) {
              transform: translateY(0px) rotate(45deg);
              // transform: translateY(1px);
            }
            &:nth-child(2) {
              transform: translateY(-2px) rotate(-45deg);
              // transform: translateY(-1px);
            }
          }
        }
        &:nth-child(3) {
          transform: translateX(50px);
          opacity: 0;
        }
      }
    }
  }
  .spacer {
    width: var(--menu-trigger-size);
  }
  .logo {
    position: relative;
    z-index: 9;
    img {
      width: var(--logo-size);
      height: var(--logo-size);
    }
  }
  .nav-overlay {
    position: fixed;
    inset: 0;
    overflow-y: auto;
    z-index: 7;
    // min-height: 100vh;
    background-color: var(--nav-overlay-bg-color);
    background-image: url(https://images.unsplash.com/photo-1568659585069-facb248c4935?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    color: white;
    transform: translateY(-100%);
    .nav-container {
      min-height: 100vh;
      padding: 2rem;
      padding-top: 10rem;
      width: 100%;
      height: auto;
      background-color: rgba($dark, 0.8);
      @include desktop {
        display: flex;
        place-items: center;
        padding-top: 2rem;
      }
    }
  }

  .main-nav {
    text-align: end;
    ul {
      padding: 0;
      margin: 0;
      margin-top: 2rem;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      @include desktop {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0 20vw;
        flex-wrap: wrap;
      }
      li {
        margin: 0;
        text-align: left;
        position: relative;
        &::after {
          display: none;
          @include desktop {
            content: "";
            display: block;
            position: absolute;
            right: -1rem;
            top: 50%;
            border-right: 1px solid $primary;
            height: 1.5em;
            transform: translateY(-50%) rotate(10deg);
          }
        }
        &:last-child {
          &::after {
            content: none;
          }
        }
        a {
          color: white;
          font-family: $lora;
          font-size: 2em;
          float: right;
          @include desktop {
            float: none;
          }
        }
      }
    }
  }

  .header-bar {
    height: var(--menu-trigger-size);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    opacity: 0;
    @include desktop {
      display: none;
    }
  }
  .header-bar-links {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
    a {
      display: inline-flex;
      place-items: center;
      text-transform: uppercase;
      color: white;
      letter-spacing: 1px;
      font-size: 14px;
    }
  }

  .header-bar-desktop {
    display: none;
    @include desktop {
      display: flex;
      position: fixed;
      height: var(--menu-trigger-size);
      display: flex;
      align-items: center;
      justify-content: center;
      top: 2rem;
      right: calc(var(--menu-trigger-size) + 2rem);
      padding: 1rem 1.2rem;
      z-index: 8;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: white;
        transform: translateY(-120%);
        @include transition(all);
      }
      &.hasBg {
        box-shadow: var(--header-bar-shadow);
        .header-bar-links {
          a {
            color: black;
          }
        }
        &::before {
          @include transition(transform);
          transform: translateY(0);
        }
      }
      .header-bar-links {
        gap: 1rem;
        a {
          @include transition(color);
          letter-spacing: 0;
        }
      }
    }
  }

  // &.open {
  //   .header-bar-desktop {
  //     &::before {
  //       transform: translateY(100%);
  //     }
  //     .header-bar-links {
  //       a {
  //         color: white;
  //       }
  //     }
  //   }
  // }
}
