.hero-slider-section {
  background: black;
  margin-top: calc(-1 * (var(--logo-size) + var(--header-padding) * 2));
  position: relative;
  .hero-slider {
    width: 100vw;
    height: 100vh;
    text-align: center;
    .swiper-slide {
      &::before {
        top: 0;
        left: 0;
        z-index: 1;
        content: "";
        opacity: 0.5;
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(180deg, transparent 10%, #000);
      }
    }

    .hero-slide-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.8;
    }

    .hero-slide-content {
      position: absolute;
      inset: 0;
      z-index: 9;
      padding: 0 20vw;
      padding-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      align-items: center;
      justify-content: center;
      color: white;
      text-align: center;
      p {
        font-size: 1.2rem;
      }
    }

    .swiper-pagination-bullet {
      &.swiper-pagination-bullet-active {
        --swiper-pagination-color: #{$primary};
      }
    }

    .hero-slider-timer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      background: $primary;
      width: 100%;
      height: 4px;
      z-index: 6;
      transform-origin: left;
    }
  }
  .scroll-indicator {
    position: absolute;
    right: 2rem;
    bottom: 0;
    z-index: 6;
    background: white;
    width: 1px;
    height: 4rem;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 6;
      background: $primary;
      width: 1px;
      height: 4rem;
      transform-origin: top;
      animation: scroll-indicator 3s ease-in-out infinite;
    }
  }
}

@keyframes scroll-indicator {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.gallery-slider-container {
  margin-top: 8rem;
  .gallery-slider {
    position: relative;
  }
  .swiper-wrapper {
    align-items: center;
    padding-bottom: 4rem;
  }
  .swiper-slide {
    @include transition(all);
    position: relative;
    aspect-ratio: 4/3;
    img {
      position: absolute;
      inset: 0;
      object-fit: cover;
      transform-origin: top left;
      max-width: 100%;
      width: 100%;
      z-index: -1;
    }
    h3 {
      position: absolute;
      bottom: 2vw;
      left: 2vw;
      color: white;
      font-size: 2rem;
    }
    &.swiper-slide-active {
      width: 100%;
      @include tablet {
        width: 50vw !important;
        margin-right: 6vw;
        margin-left: 4vw;
      }
    }
    &.swiper-slide-next {
      @include tablet {
        width: 40vw !important;
      }
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 44%;
    height: 100%;
    top: 0;
    cursor: none;
    &::after {
      content: none;
    }
  }
  .swiper-button-prev {
    width: 55%;
  }
  .swiper-pagination {
    text-align: left;
    font-size: 16px;
    display: flex;
    align-items: center;
    .swiper-pagination-current {
      font-family: $lora;
      padding-left: 3vw;
      font-size: 2em;
      padding-right: 4px;
    }
    .swiper-pagination-total {
      padding: 4px;
    }
  }
}
