// fonts
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans&display=swap");

$lora: "Lora", serif;
$opensans: "Open Sans", sans-serif;

body {
  font-family: $opensans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $lora;
  font-weight: 400;
}

h2 {
  font-size: 6rem;
}
h3 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  padding-bottom: 2px;
  background-image: linear-gradient($primary, $primary),
    linear-gradient(transparent, transparent);
  background-size: 0 1px, 100% 1px;
  background-position: 0 100%, 100% 100%;
  background-repeat: no-repeat;

  transition: all 0.25s ease;
  &:hover,
  &:focus-visible {
    background-size: 100% 1px, 0 1px;
  }
}
