:root {
  --menu-trigger-size: 3rem;
  --nav-overlay-bg-color: #{$dark};
  --header-padding: 2rem;
  --logo-size: 5rem;
  --shadow-small: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  --shadow-big: 0 0 24px 2px rgba(0, 0, 0, 0.2);
  --header-bar-shadow: var(--shadow-small);
}
